body{
    /* background-color: #F6EFEE; */
    color: black;
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
}

header{
    display: flex;
    /*for formatting reasons*/
    padding-right: 5px;
    padding-left: 5px;

    align-items: center;
    color: #772D8B;
    font-size: 20px; 
    /* font-weight: normal; switched from bold to normal */
    position: sticky; /* ensures that the header stays at the top of the page */
    z-index: 1000; /* ensures that the header stays at the top of the page */
    top: 0; /* ensures that the header stays at the top of the page */
    justify-content: space-between;
    background-color: white; /* needed to make solid background*/
    border-bottom: solid 1.5px #772D8B;
    /* background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgba(255, 0, 0, 0)) */
}

h1{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    margin: 0px;
    font-weight: normal; /* switched between bold and normal, determine if necessary later */
    /* background-color: pink; */
}

h2{
    font-size: 20px;
    /* margin: 5px 40px; */
    padding: 5px;
    text-align: center;

    background-color: #D6A9F2;
}

h3{
    font-size: 30px;
    padding: 5px 10px;
    margin: 0px;
    /* text-align: center; */
    /* padding: 5px; */
    /* background-color: blue; */
}

h4{
    font-weight: normal;
    font-size: 15px;
    padding: 0px 10px;
    margin: 0px;
    /* text-align: center; */
    /* padding: 5px; */
    /* background-color: blue; */
}

img{
    border: solid 2px #772D8B;
}

#logo{
    display: flex;
}

#logo img{
    width: 10px;
    height: auto;
    /* display:block; */
    margin: 15px;
    /* float:left; */
    /* border: solid 2px #772D8B; */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    color:#772D8B;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}

nav a:visited{
    color: #772D8B;
}

nav a:hover{
    color: #CCE8CC;
}

.intro{
    font-size: 35px;
    margin: 5px 100px;
    padding: 10px;
}

p{
    font-size: 20px;
    margin: 5px 40px;
    padding: 5px;
    /* text-align: center ; */
}

#projects{
    /* list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  padding:0;
  margin:0; */
    list-style: none;
    margin: 0;
    padding: 10px 30px;
    display: grid;
    /* grid-template-columns: 0.5fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 5px;
}

#projects img{
    /* padding-left: 5%; */
    /* width: 100%;
    height: 15em; */
    align-items: center;
    text-align: center;
    border-radius: 15px;
    /* padding: 5px;  */
    width: 100%; /* Each image will take up 30% of the container's width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images fill the space */
    border: solid 2px #772D8B;
    border-color: #772D8B;
}

#projects a{
    text-decoration: none;
    color: black;
}

#projects li{
    margin: 5px;
    /* padding: 5px; */
    /* align-items: center; */
    display: inline-block;

}

#projects .subProject{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    border: solid 2px #772D8B;
}

#projects .subProject:hover{

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);  /* Horizontal, Vertical, Blur, Color */
    /* border: solid 2px white; */
}

/* #projects img:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);  /* Horizontal, Vertical, Blur, Color */
    /* border: solid 2px white; 
} 
*/

.symphony{
    display: inline-block; 
    width: 47%;
    margin-left: 2%;

}

.laundry{
    display: inline-block;
    width: 47%;
    margin-left: 2%;
}

.jewlery{
    display: inline-block;
    width: 47%;
    margin-left: 2%;
}

.jewlery2{
    display: inline-block;
    width: 47%;
    margin-left: 2%;
    margin-top:2%
}

.video{
    width: 96%;
    margin-left: 2%;
    margin-top: 20px;
    border: solid 2px #772D8B;
}

.feedback{
    margin-left: 30px;
    font-size: 20px;
    margin-right:20px;
}

#profilePicture{
    width: 17em;
    height: auto;
    display:block;
    /* border-radius: 50%; */
    margin: 15px;
    float:right;
    border: solid 2px #772D8B;
}

.grid {
    margin: 0 auto;
    padding: 10px 0px;
    /* display: flex; */
    /* flex-direction: row; */
}

main{
    padding: 10px 0px;
    padding-right: 15px;
    margin: 0px;
}