body{
    /* background-color: #F6EFEE; */
    color: #5A0B4D;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}

header{
    display: flex;
    align-items: center;
    /* padding: 10px; */
    
    margin: 5px;
    margin-left: 30px;
    margin-right: 30px;
    color: #772D8B;
    font-size: 20px; 
    font-weight: normal;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: white;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgba(255, 0, 0, 0))
}

h1{
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    font-weight: normal;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
}

nav a:visited{
    color: #772D8B;
}

nav a:hover{
    color: #CCE8CC;
}

.intro{
    font-size: 35px;
    margin: 5px 100px;
    padding: 10px;
}

h2{
    font-size: 20px;
    margin: 5px 40px;
    padding: 5px;
}

h3{
    font-size: 15px;
    margin: 5px 40px;
    padding: 5px;
}

p{
    font-size: 20px;
    margin: 5px 40px;
    padding: 5px;
    /* text-align: center ; */
}

#projects{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 5px; */
    /* padding: 15px; */
}

#projects img{
    /* padding-left: 5%; */
    width: 80%;
    height: auto;
    /* align-items: center; */
    text-align: center;
    border-radius: 15px;
    padding: 5px;
}

#projects li{
    /* margin: 5px;
    padding: 5px; */
    align-items: center;
}

#projects img:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);  /* Horizontal, Vertical, Blur, Color */
}

.symphony{
    display: inline-block; 
    width: 45%;
    margin-left: 2.5%;

}

.laundry{
    display: inline-block;
    width: 45%;
    margin-left: 2.5%;
}

.video{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

.feedback{
    margin-left: 30px;
}