button{
    width: 30%;
    height: 50px;
    font-size: 25px;
    background-color: pink;
    color: red;
    border-color: red;
    font-family: serif;
    

}

#button1{
    margin-left: 2.25%;
    position: fixed;
    bottom: 5px;

}

#button2{
    margin-left: 2.25%;
    position: fixed;
    bottom: 5px;
    left: 33%;
}

#button3{
    margin-left: 2.25%;
    position: fixed;
    bottom: 5px;
    right: 2.25%;
}

table{
    position:absolute;
    color:red;
    font-size: 30px;
    text-align: center;
    height: 85%;
    margin-top: 0px;
}

#percentHelper{
    font-size:25px;
    padding-left:20px;
    padding-top:-5px;
    padding-bottom: 0px;
    display: flex;
    /* position: absolute; */
    color: red;
}